@model List<FoodReviewWeb.Models.Framework.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Recent Posts</h4>
                        <h2>Our Recent Food Review</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="blog-posts mb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">

                        @foreach (var item in Model)
                        {
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="@item.Image" alt="">
                                    </div>
                                    <div class="down-content">
                                        @*<span>Healthy</span>*@
                                        <a href=""><h4>@item.Title</h4></a>
                                        @Html.ActionLink("See more...", "Detail", new { id = item.ID })
                                        <ul class="post-info">
                                            <li><a href="#">@item.Account.Name</a></li>
                                            <li><a href="#">@item.CreateAt</a></li>
                                            <li><a href="#">@item.LikeCount Like</a></li>
                                        </ul>
                                        <p>@item.Contents</p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li><a href="#">Hanoi</a>,</li>
                                                        <li><a href="#">VietNam</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="post-share">
                                                        <li><i class="fa fa-share-alt"></i></li>
                                                        <li><a href="#">Facebook</a>,</li>
                                                        <li><a href="#">Twitter</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <!--Btn view all Post-->
                        <div class="col-lg-12">
                            <div class="main-button">
                                <a href="blog.html">View All Posts</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" name="gs" method="GET" action="#">
                                    <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>Recent Posts</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li>
                                            <a href="post-details.html">
                                                <h5>Bánh đa cua</h5>
                                                <span>May 31, 2020</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="post-details.html">
                                                <h5>Bún bò</h5>
                                                <span>May 28, 2020</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="post-details.html">
                                                <h5>Bánh cuốn Thanh Trì</h5>
                                                <span>May 14, 2020</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item categories">
                                <div class="sidebar-heading">
                                    <h2>Categories</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">- Appetizers</a></li>
                                        <li><a href="#">- Condiments</a></li>
                                        <li><a href="#">- Fast food</a></li>
                                        <li><a href="#">- Salads</a></li>
                                        <li><a href="#">- Soups</a></li>
                                        <li><a href="#">- Noodles</a></li>
                                        <li><a href="#">- Kosher food</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item tags">
                                <div class="sidebar-heading">
                                    <h2>Tag Clouds</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">HaNoi</a></li>
                                        <li><a href="#">VietNam</a></li>
                                        <li><a href="#">Thailand</a></li>
                                        <li><a href="#">Singapore</a></li>
                                        <li><a href="#">America</a></li>
                                        <li><a href="#">Korea</a></li>
                                        <li><a href="#">Japan</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




