@model IEnumerable<FoodReviewWeb.Models.Framework.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="mt-3">
        @{
            if (Session["id"] != null)
            {
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-warning text-dark" })
            }
            else
            {
                <h3 style="height:400px">You are not logged in!</h3>
            }
        }

    </div>
    @foreach (var item in Model)
    {
        <div class="card mb-3 mt-3" style="max-width: 1000px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="@item.Image" class="card-img" alt="..."  style="height:280px; object-fit: cover">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"> @item.Title</h5>
                        <p class="card-text">@item.Contents</p>
                        <p class="card-text"><small class="text-muted">@item.CreateAt</small></p>
                        <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-warning text-dark" }) 
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-warning text-dark" }) 
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-warning text-dark" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

